{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">{% trans %}Welcome to Forum!{% endtrans %}</h1>
        <p class="lead">{% trans %}In this forum you will find a lot of interesting topics to discuss.{% endtrans %}</p>
    </div>
    {{ tree | raw }}
{% endblock %}
