{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Forum!</h1>
        <p class="lead">In this forum you will find a lot of interesting topics to discuss.</p>
    </div>
{% endblock %}
